.selectTopic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
  }
  
  .selectTopic form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
  }
  
  .selectTopic h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--on-secondary-color);
  }
  
  .selectTopic input,
  .selectTopic textarea,
  .selectTopic button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--on-background-color);
    font-size: 16px;
  }
  
  .selectTopic input:focus,
  .selectTopic textarea:focus,
  .selectTopic button:focus {
    outline: none;
    border-color: var(--secondary-color);
  }
  
  .selectTopic button {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .selectTopic button:disabled {
    background-color: var(--primary-color);
    cursor: not-allowed;
  }
  
  .selectTopic button:hover:not(:disabled) {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
  }
  
  .selectTopic .error {
    color: red;
    text-align: center;
    margin-top: 10px;
  }

  .selectTopic select{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--on-background-color);
    font-size: 16px;
  }
  
  @media (max-width: 600px) {
    .selectTopic form {
      padding: 15px;
    }
  
    .selectTopic input,
    .selectTopic textarea,
    .selectTopic button {
      padding: 8px;
      font-size: 14px;
    }
  }
  